@charset "UTF-8";

* {
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-color: black;
    color: azure;
    padding: 60px;
    
}

.title {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    display: flex;
    justify-content: center;
}

section {

}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr)); 
    padding: 20px;
    width: 80px;
    background-color: aqua;
}